:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);  
}
@font-face {
    font-family: pop;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
* {
    font-family: pop !important;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Off-white);
}
.container {
background-color: var(--White);
width: 420px;
max-width: 80%;
padding: 30px;
position: relative;
border-bottom-right-radius: 150px;
}
input {
    width: 70px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--Off-white);
    outline: none;
}
input:focus {
    border: 2px solid var(--Purple);
}
small {
    color: var(--Light-red);
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: capitalize;
}
.submit-btn {
width: 70px;
height: 70px;
padding: 20px;
display: flex;
background-color: var(--Purple);
justify-content: center;
align-items: center;
border: none;
border-radius: 50%;
position: absolute;
right: 30px;
top: 60px;
cursor: pointer;
}
.output span {
    font-size: 2.75rem;
    color: var(--Purple);
    font-style: italic;
}
.submit-btn:hover{
    background-color: black;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}
.input-flex {
    display: flex;
    border-bottom: 2px solid var(--Off-white);
    margin-bottom: 20px;
}

